@font-face {
    font-family: 'Apercu Pro Regular';
    src: url('./../fonts/Apercu_Pro/apercu_regular_pro.otf');
}

// Fonts

$font-main: 'Noto Sans', sans-serif;
$font-secondary: 'Noto Nastaliq Urdu', sans-serif;
$font-rare: 'Apercu Pro Regular', sans-serif;

// Colors

$white: #FFFFFF;
$black: #000000;

$turquoise: #D1FFFA;
$violet: #E2D4FF;

$almost-black: #1C1E23;

$gradient: linear-gradient(to bottom right, $violet, $turquoise);

// Media

$mobile: 522px;